<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite APODs - Ban Page</title>
</head>
<body>

{% if is_logged_in %}
<!--show dashboard-->
    {% if is_admin %}
        <h2>Success</h2>
        <p> User {{ banned_user_id }} Hath Been Bannethed!</p>
    {% else %}
        <h2>Be Gone!</h2>
        <ul>
            <li><a href="/apods">View All APODS</a></li>
        </ul>
    {% endif %}
{% else %}
<!--show login form-->
<h2>Login</h2>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
</form>

{% endif %}

</body>
</html>