<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite APODs - Fav Set</title>
</head>
<body>

{% if is_logged_in %}
<!--show fav set page-->
<h2> Favorite Set! </h2>
<p> Thank you for adding "title" to your favorites! </p>
<button onclick="window.location.href = '/'">Back to All APODs</button>
{% else %}
<!--show login form-->
<h2>Login</h2>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
</form>

{% endif %}

</body>
</html>