<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite APODS</title>
</head>
<body>
<h1>Apods</h1>

{% for package in page_packages %}
<div class="package">
    <h2>Apod: {{ package.apod.apod.title }}</h2>
    <p>Image Date: {{ package.apod.apod.img_date }}</p>
    <p>Content: {{ package.apod.apod.content }}</p>
    <p>Url: {{ package.apod.apod.url }}</p>

    <h3>Comments for apod:</h3>
    {% for comment in package.apod.comments %}
    <p>
        Comment Content: {{comment.content}}
    </p>
    {% endfor %}

</div>

{% endfor %}

</body>
</html>