<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .header button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="header">
    <button onclick="window.location.href = '/'">All APODS</button>
    <h1>My Profile</h1>
    <button onclick="window.location.href = '/profile'">My Profile</button>
</div>

<h1>Welcome to your profile!</h1>

{% if is_admin %}
<p>Admin Permissions Granted!</p>
{% endif %}

<h2>Profile Details</h2>
<p>User ID: {{ claims.id }}</p>
<p>Email: {{ claims.email }}</p>

<h3>Your Favorite APODs:</h3>
<ul>
    {% for favorite in favorites %}
    <li>{{ favorite.title }}</li>
    <img src="{{ favorite.url }}" alt="Fav Apod Image" class="img-quarter-size">
    {% endfor %}
</ul>

{% if is_admin %}
<div class="danger_zone">
<div class="horizontal-bar"></div>
<div class="exclamation-marks">
    <h1>DANGER ZONE</h1>

<div class="users-table">
    <h2>All Users</h2>
    <table class="users-table">
        <tr>
            <th>Ban Status</th>
            <th>User ID</th>
            <th>Email</th>
            <th>Is Admin</th>
            <th>Is Banned</th>
            <th>Ban Hammer</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td>
                {% if not user.is_banned %}
                    <p>not banned</p>
                {% else %}
                    <p>!!Banned!!</p>
                {% endif %}
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_admin }}</td>
            <td>{{ user.is_banned }}</td>
            <td>
                {% if user.id != claims.id %}
                    {% if not user.is_banned %}
                        <button onclick="window.location.href = '/ban_user/{{ user.id }}'">Ban User</button>
                    {% else %}
                        <button onclick="window.location.href = '/un_ban_user/{{ user.id }}'">Un-Ban User</button>
                    {% endif %}
                {% else %}
                    <p>Me!</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
{% endif %}

</body>
</html>