<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .header button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="header">
    <button onclick="window.location.href = '/'">All APODS</button>
    <h1>My Profile</h1>
    <button onclick="window.location.href = '/profile'">My Profile</button>
</div>

<h1>Welcome to your profile!</h1>

{% if is_admin %}
<p>Admin Permissions Granted!</p>
<button onclick="window.location.href = '/ban-users'">Ban Users</button>
{% endif %}

<h2>Profile Details</h2>
<p>User ID: {{ claims.id }}</p>
<p>Email: {{ claims.email }}</p>

<h3>Your Favorite APODs:</h3>
<ul>
    {% for favorite in favorites %}
    <li>{{ favorite.title }}</li>
    {% endfor %}
</ul>

</body>
</html>