body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.package {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.package h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.package p {
    margin-bottom: 5px;
}

.package h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.package .comment {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}